<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
  <!-- create -->
  <insert id="addMember" parameterType="vo.Member">
  insert into member(name,username,password) values(#{name},#{username},#{password});
  
  
  </insert>
  
  <!-- read -->
  <select id="selectAll" resultType="vo.Member">
   select * from member;
  </select>
</mapper>